* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: #ece6f0;
    color: #333;
    padding: 20px;
}

header {
    background-color: #50dbc4;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: rgb(81, 45, 182);
    text-decoration: none;
    font-weight: bold;
}

header nav ul li a:hover {
    text-decoration: underline;
}

main {
    margin-top: 30px;
}

section {
    margin-bottom: 40px;
    background-color: hsl(0, 25%, 98%);
}

section h2 {
    background-color: #e6b4db;
    font-size: 2rem;
    margin-bottom: 10px;
    color: #0b33e4;
}

section h3 {
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(235, 84, 134);
}

ul, ol {
    margin-left: 20px;
}

ul li, ol li {
    margin-bottom: 10px;
}

article {
    background-color: #e6b4db;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 10px;
}

article h2 {
    background-color: #6fe2d9;
}

footer p {
    font-size: 1.0rem;
    background-color: rgb(138, 151, 138);
}